
/x64/
/Debug/
/.vs/
/.bin/
/.obj/
/.suo/

/.vs
/.obj
/.exe
/.bin
/.pdb
/.suo
/.vs/Project/v16
/.vs/Project/v16/
.vs/Project/v16/
x64/Debug/Project.pdb

.vs
.obj
.exe
.bin
.pdb
.db
.ipch
.tlog
.suo

x64/
Debug/
.vs/
.bin/
.obj/
.vs/Project/v16

*.vs
*.obj
*.exe
*.bin
*.pdb
*.db
*.ipch
*.tlog
*.suo

.vs/Project/v16/.suo
